:host {
    display: flex;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        .title-bar {
            display: flex;
            flex-shrink: 0;
            width: 100%;
            align-items: center;
            padding-bottom: 1rem;
            border-bottom: 2px solid #f4f4f4;
            app-back-button {
                position: fixed;
                left: 1rem;
                top: 1.2rem;
                z-index: 2000;
            }
            span {
                width: 100%;
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.6rem 0;
        }
    }
}