<!-- 热门推荐 -->
<ng-container *ngIf="(selectedTabLink$ | async) as tabs">
    <ng-container *ngIf="tabs == 'hot-rec'">
        <!-- 轮播图 -->
        <app-carousel
            [sliders]="banners$ | async">
        </app-carousel>
        <!-- 滚动菜单 -->
        <app-horizontal-grid>
            <div
            appGridItem
            *ngFor="let item of channels$ | async">
                <img
                    appGridItemImage
                    [src]="item.icon"
                    [alt]="item.link">
                <span
                    appGridItemTitle>
                    {{item.title}}
                </span>
            </div>
        </app-horizontal-grid>
    </ng-container>
</ng-container>
<!-- 广告容器 -->
<div class="ad-cintainer" *ngIf="(ad$ | async) as ad">
    <img [src]="ad.imageUrl" alt="">
</div>
<!-- 倒计时 -->
<app-time-hourglass
    [title]="timeHourglassTitle"
    [effectiveDate]="effectiveDate"
    [expiredDate]="expiredDate">
</app-time-hourglass>
