:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 2999;
}

#dialog-container {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #fff;
    margin-left: 0;
    text-align: center;
    box-shadow: 0 0 2px 1px;
    z-index: 3000;
}