:host {
    padding: 0 0.5rem;
    background-color: #fff;
    .container {
        display: grid;
        grid-template-columns: 10rem 1fr;
        grid-template-rows: 3rem 1fr 1rem 2rem;
        grid-gap: 5px;
        grid-template-areas: 'image title' 'image .' 'image category' 'image price';
        place-content: stretch;
        place-items: stretch;
        .good-image {
            grid-area: image;
            object-fit: contain;
            width: 9rem;
            height: 9rem;
        }
        .good-title {
            grid-area: title;
        }
        .good-category {
            grid-area: category;
            span {
                margin-right: 5px;
            }
        }
        .good-price {
            grid-area: price;
            display: grid;
            grid-gap: 3px;
            grid-template-columns: 25% 50% 25%;
            grid-template-areas: 'price-detail price-desc price-avatar';
            place-content: stretch;
            place-items: center;
            .price-setion {
                grid-area: price-detail;
                color: #d24749;
                margin: 0 1rem;
                .price {
                    display: inline;
                    font-size: 1.3rem;
                    padding: 0;
                }
            }
            .price-desc {
                grid-area: price-desc;
                color: #3f3f3f;
                font-size: 0.8rem;
            }
            .price-avatar {
                grid-area: price-avatar;
                margin: 0;
                img {
                    position: relative;
                }
            }
        }
    } 
}