<ul [ngStyle]="{'background-color': backgroundColor}">
    <li *ngFor="let item of menus;">
        <a
            [ngStyle]="{'color': item.link === selectedTabLink ? titleActiveColor : titleColor}"
            [class.active]="item.link === selectedTabLink"
            (click)="onSelect(item)">
            {{item.title}}
        </a>
        <span
            [ngStyle]="{'background-color': item.link === selectedTabLink ? indicatorActiveColor : indicatorColor}"
            *ngIf="item.link === selectedTabLink"
            class="indicator">
        </span>
    </li>
</ul>